<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.oidd.pt.mapper.UserTerminalMapper">

    <resultMap id="commonQty" type="com.ai.oidd.pt.vo.CommonDateQty">
        <id column="date" jdbcType="INTEGER" property="date"/>
        <result column="qty" jdbcType="INTEGER" property="qty"/>
    </resultMap>


    <!--  终端历史 -->
    <select id="countTerQtyByDate" resultMap="commonQty">
        SELECT
        DATE,
        COUNT(*) AS qty
        FROM
        t_user_terminal
        WHERE 1 = 1
        <if test="null != mdn and ''!= mdn and 0 != mdn">
            AND mdn = #{mdn}
        </if>
        <if test="null != start and ''!= start and 0 != start">
            AND DATE <![CDATA[ >= ]]> #{start}
        </if>
        <if test="null != end and ''!= end and 0 != end">
            AND DATE <![CDATA[ <= ]]> #{end}
        </if>
        GROUP BY DATE ASC;
    </select>





</mapper>